*{
    margin: 0px;
    padding: 0px;
    font-family: 'Calibri';
}
/* this is navbar section */
.menu-container{
    background-color: rgba(229, 84, 115, 0.10);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}
.logo{
    font-size: xx-large;
    font-style: italic;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.menus{
    display: flex;
}
.item{
   font-size: large;
   cursor: pointer;
   padding: 30px;
}
/* this is section 1 */
.image1{
    width: 360px;
    padding-right: 150px;
    padding-top: 50px;
}
.banner1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 10%
    height: 50vh;
}
.des1{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(39, 39, 39, 0.60);
}

.title1{
    font-size: 70px;
    font-weight: bolder;

}

.button1{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #E55473;
    color: white;
}
.text1{
    padding-left: 18%;
}

/* this is section 2 */
.image2{
    width: 250px;
    height: 300px;
    padding-right: 0px;
}
.banner2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 10%;
    height: 50vh;
}
.des2{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(39, 39, 39, 0.60);
}

.title2{
    font-size: 30px;
    font-weight: bold;
    color: #272727;

}
.off{
    color: #E55473;
}

.button1{
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: #E55473;
    color: white;
}
.text2{
    padding: 15%;
    text-align: center;
}
/* this is section 3 */
.banner3{
    text-align: center;
    padding-top: 10%;
}
.title3{
    font-size: 30px;
    font-weight: bold;
    color: #272727;
}
.des3{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(39, 39, 39, 0.60);
    padding: 10px;
}
.instagram{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
  
}
.ins{
    margin-left: 5%;
    margin-right: 5%;
    width: 250px;
    height: 300px;
}
/* this is section 4 */
.title4{
    font-size: 30px;
    font-weight: bold;
    color: #272727;
    padding-top: 50px;
}
.des4{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(39, 39, 39, 0.60);
    padding: 10px;
}
.email{
    display: flex;
    align-items: center;
    padding-left: 20%;
    border-color: #FFF;
    border-radius: 8px;
}
.banner4{
    text-align: center;
    padding-top: 25px;
    background-image: url('./Flower\ Asset/Rectangle 9.png');
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form{
    padding-right: 20px;
}
.button2{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #E55473;
    color: white;
    height: 64px;
    width: 150px;
}
    
